<div class="row animated fadeIn fast">
  <div class="col-12">
    <div class="card">
      <div class="card-body">

        <input type="text" class="form-control" placeholder="Buscar Cliente..." #txtTermino
          (keyup)="buscar( txtTermino.value )" />

      </div>
    </div>
  </div>
</div>

<div class="row animated fadeIn fast" *ngIf="cargando">
  <div class="col-12">

    <div class="alert alert-info text-center">
      <h4 class="alert-heading">Cargando</h4>
      <i class="fa fa-spin fa-refresh fa-2x"></i>
      <p class="mb-0">Por favor espere</p>
    </div>

  </div>
</div>


<div class="row" *ngIf="!cargando">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <div class="row">
          <div class="col-8">
            <h4 class="card-title">Clientes ({{ clientes.length }})</h4>
            <h6 class="card-subtitle">
              clientes registrados en mi aplicación
            </h6>
          </div>

          <div class="col">
            <div class="text-right">
              <a class="btn btn-primary" routerLink="/dashboard/cliente/nuevo">
                <i class="fa fa-user-o"></i>
                Crear Cliente
              </a>
            </div>
          </div>

        </div>



        <div class="table-responsive">
          <table class="table table-bordered">
            <thead>
              <tr>
                <th class="w100 text-center">Foto</th>
                <th class="text-center">Nombre Cliente</th>
                <th class="text-center">DNI</th>
                <th class="text-center">Email</th>
                <th class="text-center">Telefono</th>
                <th class="text-center">Direccion</th>
                <th class="w100 text-nowrap">Acciones</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let cliente of clientes">
                <td class="text-center justify-content-center">
                  <img style="border-radius: 50%;" [src]="cliente.img" [alt]="cliente.nombre" class="w50 cursor"
                    (click)="abrirModal(cliente)">
                </td>
                <td class="text-center">
                  {{ cliente.nombre }}
                </td>
                <td class="text-center">
                  {{ cliente.dni }}
                </td>
                <td class="text-center">
                  {{ cliente.email }}
                </td>
                <td class="text-center">
                  {{ cliente.telefono }}
                </td>
                <td class="text-center">
                  {{ cliente.direccion }}
                </td>

                <td class="text-nowrap text-center">
                  <a [routerLink]="['/dashboard','cliente', cliente._id ]" data-toggle="tooltip"
                    data-original-title="Editar">
                    <i class="fa fa-pencil text-inverse m-r-10"></i>
                  </a>

                  <a class="cursor" data-toggle="tooltip" data-original-title="Borrar"
                    (click)="borrarCliente( cliente )">
                    <i class="fa fa-trash text-danger"></i>
                  </a>
                </td>
              </tr>

            </tbody>
          </table>
        </div>

      </div>
    </div>
  </div>
</div>
