<!--
<section class="section-shopping-cart-page">

  <div>
    <div class="col-12 " style="margin-top: 5%;">
      <div class="row">
        <div class="col-4">
          <div class="form-group">
                <label>Cliente</label>
                <select name="" id="" class="form-control"[(ngModel)]="venta.cliente">
                  <option value="">Seleccionar</option>
                  <option *ngFor="let cliente of clientes">
                    {{cliente.nombre}}
                  </option>
                </select>
          </div>
        </div>
      </div>

        <div class="row">
          <div class="col-4">
            <div class="form-group">
                <label>Productos</label>
                <select name="" id="" class="form-control" (change)="poner_precio()" [(ngModel)]="venta.producto">
                  <option value="">Seleccionar</option>
                  <option *ngFor="let producto of productos" value="{{producto.id}} - {{producto.precio}}">
                    {{producto.nombre}}
                  </option>
                </select>
              </div>
            </div>
        </div>
        <div class="row">
          <div class="col-4">
            <div class="form-group">
                <label>Precio</label>
                <input type="text" class="form-control" disabled [(ngModel)]="venta.precio">
              </div>
            </div>
        </div>
        <div class="row">
          <div class="col-4">
            <div class="form-group">
                <label>Cantidad</label>
                <input type="text" class="form-control">
              </div>
            </div>
        </div>
    </div>
    <!--


      <div class="cart-item row">
        <div class="col-sm-2 col-lg-1">
          <div class="image">
            <img width="60" height="60" alt="" src="images/products/product02-sq.jpg">
          </div>
        </div>
        <div class="col-sm-4 col-lg-6">
          <div class="brand">
            <img alt="" src="images/brand-small02.png">
          </div>
          <div class="title">
            <a href="#">super daily bag</a>
          </div>
        </div>

        <div class="col-sm-6 col-lg-5 details">
          <div class="unit-price">
            $100,00
          </div>

          <div class="quantity">
            <select class="md-select quantity">
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
              <option value="6">6</option>
              <option value="7">7</option>
              <option value="8">8</option>
              <option value="9">9</option>

            </select>
          </div>
          <div class="total-price">
            $100,00
          </div>

          <a class="close-btn" href="#close"></a>
        </div>
      </div>

      <div class="cart-item row">
        <div class="col-sm-2 col-lg-1">
          <div class="image">
            <img width="60" height="60" alt="" src="images/products/product03-sq.jpg">
          </div>
        </div>
        <div class="col-sm-4 col-lg-6">
          <div class="brand">
            <img alt="" src="images/brand-small03.png">
          </div>
          <div class="title">
            <a href="#">slim sweater</a>
          </div>
        </div>

        <div class="col-sm-6 col-lg-5 details">
          <div class="unit-price">
            $110,00
          </div>

          <div class="quantity">
            <select class="md-select quantity">
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
              <option value="6">6</option>
              <option value="7">7</option>
              <option value="8">8</option>
              <option value="9">9</option>

            </select>
          </div>
          <div class="total-price">
            $220,00
          </div>

          <a class="close-btn" href="#close"></a>
        </div>
      </div>

      <div class="cart-item row">
        <div class="col-sm-2 col-lg-1">
          <div class="image">
            <img width="60" height="60" alt="" src="images/products/product07-sq.jpg">
          </div>
        </div>
        <div class="col-sm-4 col-lg-6">
          <div class="brand">
            <img alt="" src="images/brand-small03.png">
          </div>
          <div class="title">
            <a href="#">fresh fashion blouse</a>
          </div>
        </div>

        <div class="col-sm-6 col-lg-5 details">
          <div class="unit-price">
            $110,00
          </div>

          <div class="quantity">
            <select class="md-select quantity">
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
              <option value="6">6</option>
              <option value="7">7</option>
              <option value="8">8</option>
              <option value="9">9</option>

            </select>
          </div>
          <div class="total-price">
            $220,00
          </div>

          <a class="close-btn" href="#close"></a>
        </div>
      </div>
    /////////////
  </div>

</section>

-->
